.section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./Loading.png') no-repeat center center;
    background-size: cover;
}