#buscador{
    max-width: 539px;
    height: 37px;
    margin: 30px auto;
    margin-bottom: 80px;
}
#iconoSearcher{
    height: 30px;
    width: 30px;
}

@media (max-width:1030px){
    #buscador{
        width: 300px;
    }
}