.containerCity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-img-top{
    border-radius: 25px;
    height: 304.99px;
    width: 250px;
}
