.containerCity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    color: black
}

.containerCity:hover {
    opacity: 0.8;
}

.card-img-top{
    border-radius: 25px;
    height: 304.99px;
    width: 250px;
}
