.footer {
  padding: 53px 80px;
  background-color: #F5F6F7;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.socialMedias {
  display: flex;
  width: 90px;
  align-items: center;
  justify-content: space-between;
}

.dataF {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contact {
  margin-top: 40px;
}

.listF {
  list-style: none;
}

.copyright {
  display: flex;
  margin: 0 auto;
  width: 600px;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 1000px) {
  .footer {
    padding: 53px 0;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dataF {
    align-items: center;
    justify-content: center;
  }

  .listF {
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 10px 0;
  }

  .copyright {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
  }
}
