#titulo{
    font-size: larger;
   font-weight: 700;
}

.carousel-caption{
    border-radius: 50px;
    opacity: 0.9;
    height: 300px;
    margin: 0 auto;
}

.carousel-caption h5 {
    font-size: 40px;
}

.carousel-caption p {
    font-size: 20px;
}

/*  RESPONSIVE TABLET */
@media (max-width:1030px){
    #titulo{
        margin-bottom: 700px;
    }
    .carousel-caption{
        margin-bottom: 80px;
    }
}