#titulo{
    font-size: larger;
   font-weight: 700;
}

.carousel-caption{
    border-radius: 50px;
    opacity: 0.9;
    height: 300px;
    margin: 0 auto;
}

.carousel-caption h5 {
    font-size: 40px;
}

.carousel-caption p {
    font-size: 20px;
}

.imgCar {
    width: 100%;
    background-size: cover;
    height: 450px;
    margin: 0;
}

#img1 {
    background: url('./images/carrusel1.jpg') no-repeat center center;
}
#img2 {
    background: url('./images/carrusel2.jpg') no-repeat center center;
}
#img3 {
    background: url('./images/carrusel3.jpg') no-repeat center center;
}
#img4 {
    background: url('./images/carrusel4.jpg') no-repeat center center;
}

/*  RESPONSIVE TABLET */
@media (max-width:1030px){
    #titulo{
        margin-bottom: 700px;
    }
    .carousel-caption{
        margin-bottom: 80px;
    }
}