#titulo{
    font-size: larger;
   font-weight: 700;
}

.carousel-caption{
    background-color: #7749f8;
    border-radius: 50px;
    opacity: 80%;
    width: 50%;
    height: 9%;
    margin-left: 190px;
}

/*  RESPONSIVE TABLET */
@media (max-width:1030px){
    #titulo{
        margin-bottom: 700px;
    }
    .carousel-caption{
        margin-bottom: 80px;
    }
}