.logout {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.logout:focus {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.logout:hover img{
    opacity: 0.7;
}

h1{
    text-align: center;
}
#booking{
    display: flex;
    justify-content: center;
    align-items: center;

}

#iconoUser{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 100px;
}
#logout{
    width: 40px;
    margin: 25px;
    margin-right: 20px;
    margin-left: auto;

}
#empty{  
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

#empty img{
    margin-top: 100px;
}

@media (max-width: 900px){
    #booking {
        flex-wrap: wrap;
        
    }

    #empty img{
        width: 365px;
        height: 500px;
    }

    #iconoUser{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 100px;
        margin-bottom: 100px;
    }
} 

@media (max-width: 1200px){
    #booking { 
        flex-wrap: wrap;
        
    }
    
}