.logout {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.logout:focus {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.logout:hover img{
    opacity: 0.7;
}

h1{
    text-align: center;
}

#fila1{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 50px;
}
#fila2{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 100px;
}

#iconoUser{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 100px;
}
#logout{
    width: 40px;
    margin: 25px;
    margin-right: 20px;
    margin-left: auto;

}

@media (max-width: 900px){
    #fila1{
        flex-wrap: wrap;
        
    }
    #fila2{
        flex-wrap: wrap;
        
    }
}

@media (max-width: 1200px){
    #fila1{
        flex-wrap: wrap;
        
    }
    #fila2{
        flex-wrap: wrap;
        
    }
}