.cardCategory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 400px;
    margin: 50px;
    border: 1px solid gainsboro;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    color: black
}

.contentCat {
    max-width: 290px;
    padding: 20px;
}

.contentCat p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.card-title{
    margin-top: 20px;
}

.card-text{
    margin-top: 20px;
}

/*  RESPONSIVE TABLET */
@media (max-width:1030px){
    .cardCategory {
        flex-direction: column;
        max-width: 250px;
        height: 420px;
        justify-content: center;
    }

    .contentCat {
        height: 500px;
    }

    .imageCat {
        border-radius: 15px;
        max-height: 200px;
    }
}
