.containerCards {
    max-width: 80rem;
    margin: 97px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 2rem;
    margin-top: 1.5rem;
    height: 100%;
}

.thumCity{
    background: url('../../../assets/fondoCiudad.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*  RESPONSIVE TABLET */
@media (max-width:1030px){

}

/* RESPONSIVE MOVIL */
@media (max-width: 900px){

}