.containerCards {
    max-width: 80rem;
    margin: 97px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 2rem;
    margin-top: 1.5rem;
    height: 100%;
}

#titleCity {
    text-align: center;
    margin-top: 57px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

#sevilla{
    width: 1855px;
    height: 600px;
    margin-left: 0px;
}

/*  RESPONSIVE TABLET */
@media (max-width:1030px){
    #sevilla{
        width: 1030px;
    }

}

/* RESPONSIVE MOVIL */
@media (max-width: 900px){
    #sevilla{
        width: 411px;
        height: 400px;
    }
}